/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {
    border-bottom: 1px solid $greyColor;
}

header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;

    span {
        font-size: 2rem;
        font-weight: bold;
        color: #333;
        padding: .5rem;
    }
}

// end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */


// hamBtn
#hamBtn {
    width: 44px;
    height: 44px;
    margin: 0;
    background: none;
    font-size: 1.5rem;
    color: #444;
    border: none;

    &:before {
        content: "\2630"; // Hamburger icon
    }
}

// end hamBtn

nav {
    background-color: #f7f7f7;
    width: 180px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    ul li a {
        display: block;
        padding: .9rem .5rem;
        text-align: right;
        border-bottom: 1px solid #333;
        text-decoration: none;
        color: #333;
    }

    ul li a:hover {
        background-color: #333;
        color: #f7f7f7;
    }

    li.active a {
        background-color: #333;
        color: gold;
    }
}

// end Nav

.moveOver #hamBtn::before {
    content: "\2715"; // Close icon
}

.moveOver #hamBtn>.content {
    transform: translateX(-180px); // This moves everything to the side
    transition: transform 500ms ease; // Animates the slide
}

.moveOver {
    transform: translateX(-180px); // Move to the left
    transition: transform 500ms ease; // Animate the movement
}

#cards {
    section {
        display: grid; 
        grid-template-areas: 
            "name"
            "photo"
            "address"
            "phone";
        padding: 0.5rem;
        margin: 1rem;
        gap: 1rem; 
        background-color: #444;
        color: #f7f7f7;
        border-radius: 15px;
    
        h2 {
            color: gold;
            grid-area: name; 
            font-size: 1.5rem;
            text-align: left; 
        }
    
        img {
            grid-area: photo; 
            width: 100%;
            height: 320px;
            object-fit: cover;
            border-radius: 15px;
        }
    
        address {
            grid-area: address; 
            font-style: normal; 
        }
    
        p {
            grid-area: phone; 
            font-size: 1rem;
            text-align: center;
            background-color: #f7f7f7;
            border-radius: 15px;
        }
    }
}









/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: #333;
        font-weight: bold;
    }

    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
}

// end main



/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: #333;
}

// end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $greyColor;
    text-align: center;
    line-height: $leading;

    a {
        color:#f7f7f7;
    }
}

// end footer